<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="{{ asset('assets/css/addjob.css') }}" rel="stylesheet">
        <div class="container ">
            <div class="formulaire">
                <h1>Post a Job Offer</h1>
                <form action="{{ path('add_job') }}" method="post">

                    <label for="position"></label>
                    {{ form_row(Addajob.position) }}

                    <label for="category"></label>
                    {{ form_row(Addajob.category) }}

                    <label for="employment_type"></label>
                    {{ form_row(Addajob.employment_type) }}

                    <label for="entreprise"></label>
                    {{ form_row(Addajob.entreprise) }}

                    <label for="location"></label>
                    {{ form_row(Addajob.location) }}

                    <label for="description"></label>
                    {{ form_row(Addajob.description) }}
                  <!--  <textarea id="description" name="description" rows="4" required></textarea>-->


                    {{ form_rest(Addajob) }}
                </form>

            </div>

            </body>
</html>