{% extends 'base.html.twig' %}
{% block title %}
    Add a job
{% endblock %}
{% block links%}
    <link href="{{ asset('assets/css/addajob.css') }}" rel="stylesheet">
{% endblock %}
    {% block main %}
        <div class="container container-fluid">
            <h1>Post a job offer</h1>
            <form>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.position, {'attr': {'class': 'form-control'}})}}
                </div>

                <div class="form-group">
                    {{ form_row(form.employment_type, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.location, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary" style="align-self: center; position:relative">Submit</button>
            </form>
        </div>


    {% endblock %}



